

/* inicio header*/
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.iconomenu{
  border: 0px;
  padding: 5px;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.icon1{
  font-size: 150%;
}
.nombre{
  margin-top: 45px;
}

/* fin header*/

/* inicio sección 1 sobre mi*/
.texto1{
  margin-top:5%;
}
.foto{
  width: 270px;
  border-radius: 5%;
  margin-top:8%;
}
.lineaflecha{
  width: 100%;
  margin-top: 1%;
}

.circulos{
  width: 50%;
  margin-top: 3%;
}


.parrafo{
  font-family: 'Lato', sans-serif;
  font-size: 130%;
  color: #707070;
  
}
body{
  font-family: 'Lato', sans-serif;
}

.titulo1{
  font-family: 'Playball', cursive;

 }


/* fin sección 1 sobre mi*/

/* inicio sección servicios*/

.iconoservicio{
  width: 40%;
}

.border-danger{
  width:80%;
  border-color: #BE0130;
  margin-top:5%;
}

.textoservicio{
  margin-top:5%;
  color: #707070;
}
.tituloseccion{
  margin-top:2%;
  margin-bottom:2%;
}

/* inicio sección casos de exito */
a:link{
  text-decoration: none;
}

.card:hover {
  filter: brightness(0.9);

}

.card:hover {
  filter: opacity(.6);

}
/* fin sección casos de exito */

/* inicio sección recomendaciones */



.active{
  color: #BE0130;
}

/* inicio footer */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.iconofooter{
  border: 0px;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 10px;
  
}

.iconfo{
  font-size: 40px;
}
